In [1]:
import os, sys
import pandas as pd

In [2]:
ROOT_PATH = os.getenv('ROOT_PATH')
sys.path.append(ROOT_PATH)

In [3]:
from src.data_ingestion.iex_data import *
from src.data_ingestion.weather_data import *

In [4]:
get_processed_data('dam')

Data is already updated upto:  2024-01-12 23:45:00

,datetime,mcp_dam,clearedvolume_dam,pb_dam,sb_dam,diff_sb_pb_dam
0,2020-07-01 00:00:00,2649.47,8223.10,9483.6,10671.9,-1188.3
1,2020-07-01 00:15:00,2649.54,7930.10,9090.6,10711.9,-1621.3
2,2020-07-01 00:30:00,2649.12,7536.40,8696.8,10800.9,-2104.1
3,2020-07-01 00:45:00,2649.02,7215.40,8375.8,10902.9,-2527.1
4,2020-07-01 01:00:00,2599.98,6848.70,7900.0,11133.2,-3233.2
...,...,...,...,...,...,...
123931,2024-01-12 22:45:00,3224.73,5935.50,9424.0,15910.5,-6486.5
123932,2024-01-12 23:00:00,3160.38,6112.77,9693.6,16877.0,-7183.4
123933,2024-01-12 23:15:00,3142.08,6115.90,9539.9,17534.4,-7994.5
123934,2024-01-12 23:30:00,3130.16,5977.68,9350.9,17850.2,-8499.3
123935,2024-01-12 23:45:00,3086.59,6299.10,9400.3,18592.9,-9192.6

In [13]:
get_processed_data('rtm')

Data updated upto:  12-01-2024

,datetime,mcp_rtm,clearedvolume_rtm,pb_rtm,sb_rtm,diff_sb_pb_rtm
0,2020-07-01 00:00:00,1749.01,658.90,676.5,2126.5,-1450.0
1,2020-07-01 00:15:00,999.98,642.50,646.6,2249.6,-1603.0
2,2020-07-01 00:30:00,2005.45,637.70,1150.1,2137.4,-987.3
3,2020-07-01 00:45:00,2003.55,638.00,1108.1,2150.7,-1042.6
4,2020-07-01 01:00:00,2500.08,672.70,1291.7,1924.7,-633.0
...,...,...,...,...,...,...
123853,2024-01-12 03:15:00,2200.75,3208.02,3811.0,11714.0,-7903.0
123854,2024-01-12 03:30:00,2200.21,3157.41,3739.2,11591.4,-7852.2
123855,2024-01-12 03:45:00,2500.71,3043.85,3781.5,11379.7,-7598.2
123856,2024-01-12 04:00:00,2893.06,3056.90,4080.4,12120.1,-8039.7
123857,2024-01-12 04:15:00,3066.04,2873.20,4201.8,11535.0,-7333.2

In [5]:
get_processed_weather('weather')

,datetime,temp_del,atemp_del,rh_del,prec_del,temp_rai,atemp_rai,rh_rai,prec_rai,temp_vis,...,rh_pat,prec_pat,temp_ran,atemp_ran,rh_ran,prec_ran,temp_guw,atemp_guw,rh_guw,prec_guw
0,2020-07-02 00:00:00,31.514862,37.235540,64.393295,0.0,27.976243,31.888035,78.979253,0.0,27.052079,...,90.878811,0.024883,25.631226,26.575953,89.082581,0.000797,26.549667,29.775867,93.896935,0.501072
1,2020-07-02 00:15:00,31.454621,37.101298,64.442696,0.0,27.948220,31.773569,78.671271,0.0,27.028908,...,91.345751,0.013270,25.607666,26.537090,88.586731,0.001196,26.548836,29.735934,93.408230,0.452279
2,2020-07-02 00:30:00,31.394379,36.967056,64.492096,0.0,27.920197,31.659103,78.363290,0.0,27.005737,...,91.812691,0.001658,25.584106,26.498228,88.090881,0.001594,26.548004,29.696001,92.919525,0.403486
3,2020-07-02 00:45:00,31.299492,36.848410,64.888241,0.0,27.878045,31.579546,78.508030,0.0,26.992943,...,92.009373,0.001243,25.521873,26.436488,88.348103,0.001196,26.616829,29.868318,92.589411,0.358915
4,2020-07-02 01:00:00,31.204605,36.729763,65.284385,0.0,27.835892,31.499989,78.652770,0.0,26.980148,...,92.206055,0.000829,25.459641,26.374748,88.605324,0.000797,26.685654,30.040634,92.259296,0.314344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124316,2024-01-19 04:30:00,10.530000,9.780000,90.000000,0.0,17.170000,18.320000,86.000000,0.0,19.780000,...,100.000000,0.000000,14.690000,15.450000,100.000000,0.000000,13.110000,12.890000,100.000000,0.300000
124317,2024-01-19 04:45:00,10.420000,9.670000,90.500000,0.0,17.095000,18.252500,86.250000,0.0,19.787500,...,100.000000,0.000000,14.562500,15.245000,100.000000,0.000000,13.002500,12.747500,100.000000,0.225000
124318,2024-01-19 05:00:00,10.310000,9.560000,91.000000,0.0,17.020000,18.185000,86.500000,0.0,19.795000,...,100.000000,0.000000,14.435000,15.040000,100.000000,0.000000,12.895000,12.605000,100.000000,0.150000
124319,2024-01-19 05:15:00,10.200000,9.450000,91.500000,0.0,16.945000,18.117500,86.750000,0.0,19.802500,...,100.000000,0.000000,14.307500,14.835000,100.000000,0.000000,12.787500,12.462500,100.000000,0.075000
124320,2024-01-19 05:30:00,10.090000,9.340000,92.000000,0.0,16.870000,18.050000,87.000000,0.0,19.810000,...,100.000000,0.000000,14.180000,14.630000,100.000000,0.000000,12.680000,12.320000,100.000000,0.000000

In [6]:
get_processed_weather('wind')

,datetime,ws_van,wd_van,ws_bra,wd_bra,ws_dha,wd_dha,ws_jai,wd_jai,ws_mup,wd_mup
0,2018-01-01 00:00:00,2.856402,211.555916,3.440283,220.590952,3.808970,71.470128,6.205167,144.627241,4.089687,136.795606
1,2018-01-01 00:15:00,2.982301,150.559343,3.144782,182.047651,4.746715,97.527553,6.887120,185.821639,5.462932,87.960041
2,2018-01-01 00:30:00,3.108201,89.562769,2.849282,143.504350,5.684460,123.584979,7.569074,227.016036,6.836177,39.124475
3,2018-01-01 00:45:00,3.172748,92.144227,2.717269,147.135803,5.571622,124.411706,7.557311,227.028523,6.808485,39.195255
4,2018-01-01 01:00:00,3.237294,94.725685,2.585256,150.767256,5.458784,125.238433,7.545549,227.041009,6.780793,39.266034
...,...,...,...,...,...,...,...,...,...,...,...
211964,2024-01-19 04:30:00,0.740000,346.000000,1.560000,240.000000,1.480000,346.000000,1.580000,37.000000,1.680000,1.000000
211965,2024-01-19 04:45:00,0.772500,260.250000,1.545000,239.500000,1.495000,347.250000,1.572500,37.750000,1.717500,1.250000
211966,2024-01-19 05:00:00,0.805000,174.500000,1.530000,239.000000,1.510000,348.500000,1.565000,38.500000,1.755000,1.500000
211967,2024-01-19 05:15:00,0.837500,88.750000,1.515000,238.500000,1.525000,349.750000,1.557500,39.250000,1.792500,1.750000
211968,2024-01-19 05:30:00,0.870000,3.000000,1.500000,238.000000,1.540000,351.000000,1.550000,40.000000,1.830000,2.000000

In [7]:
get_processed_weather('hydro')

                  datetime  prec_nat  prec_sar  prec_sri  prec_teh  prec_koy
0      2018-01-01 00:00:00  0.009550       0.0       0.0       0.0       0.0
1      2018-01-01 00:15:00  0.014175       0.0       0.0       0.0       0.0
2      2018-01-01 00:30:00  0.018800       0.0       0.0       0.0       0.0
3      2018-01-01 00:45:00  0.018175       0.0       0.0       0.0       0.0
4      2018-01-01 01:00:00  0.017550       0.0       0.0       0.0       0.0
...                    ...       ...       ...       ...       ...       ...
211964 2024-01-19 04:30:00  0.000000       0.0       0.0       0.0       0.0
211965 2024-01-19 04:45:00  0.000000       0.0       0.0       0.0       0.0
211966 2024-01-19 05:00:00  0.000000       0.0       0.0       0.0       0.0
211967 2024-01-19 05:15:00  0.000000       0.0       0.0       0.0       0.0
211968 2024-01-19 05:30:00  0.000000       0.0       0.0       0.0       0.0

[211969 rows x 6 columns]

In [8]:
get_processed_weather('solar')

                  datetime  ghi_kun  ghi_pav  ghi_bha  ghi_kur  ghi_rew
0      2018-01-01 00:00:00      0.0      0.0      0.0      0.0      0.0
1      2018-01-01 00:15:00      0.0      0.0      0.0      0.0      0.0
2      2018-01-01 00:30:00      0.0      0.0      0.0      0.0      0.0
3      2018-01-01 00:45:00      0.0      0.0      0.0      0.0      0.0
4      2018-01-01 01:00:00      0.0      0.0      0.0      0.0      0.0
...                    ...      ...      ...      ...      ...      ...
211964 2024-01-19 04:30:00      0.0      0.0      0.0      0.0      0.0
211965 2024-01-19 04:45:00      0.0      0.0      0.0      0.0      0.0
211966 2024-01-19 05:00:00      0.0      0.0      0.0      0.0      0.0
211967 2024-01-19 05:15:00      0.0      0.0      0.0      0.0      0.0
211968 2024-01-19 05:30:00      0.0      0.0      0.0      0.0      0.0

[211969 rows x 6 columns]