In [1]:
import os, sys
import pandas as pd

# Get the current working directory
current_directory = os.getcwd()

# Move one level up
parent_directory = os.path.dirname(current_directory)

In [2]:
sys.path.append(parent_directory)

In [3]:
from src.data_ingestion.dam_ingestion import get_dam_actual

In [4]:
get_dam_actual()

Data is already updated upto:  2024-01-12 23:45:00

,datetime,mcp_dam,clearedvolume_dam,pb_dam,sb_dam,diff_sb_pb_dam
0,2020-07-01 00:00:00,2649.47,8223.10,9483.6,10671.9,-1188.3
1,2020-07-01 00:15:00,2649.54,7930.10,9090.6,10711.9,-1621.3
2,2020-07-01 00:30:00,2649.12,7536.40,8696.8,10800.9,-2104.1
3,2020-07-01 00:45:00,2649.02,7215.40,8375.8,10902.9,-2527.1
4,2020-07-01 01:00:00,2599.98,6848.70,7900.0,11133.2,-3233.2
...,...,...,...,...,...,...
123931,2024-01-12 22:45:00,3224.73,5935.50,9424.0,15910.5,-6486.5
123932,2024-01-12 23:00:00,3160.38,6112.77,9693.6,16877.0,-7183.4
123933,2024-01-12 23:15:00,3142.08,6115.90,9539.9,17534.4,-7994.5
123934,2024-01-12 23:30:00,3130.16,5977.68,9350.9,17850.2,-8499.3
123935,2024-01-12 23:45:00,3086.59,6299.10,9400.3,18592.9,-9192.6